{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            {% if validlink %}
                <h2>Change Password</h2>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-primary" value="Change">
                </form>
            {% else %}
                <div class="alert alert-danger" role="alert">
                    <p>This link is not valid. Please try again.</p>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
